<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="css/signup.css" />
  </head>
  <body>
    <div class="signup-wrap">
      <div class="signup">
        <div class="signup-title">
          <div class="title-logo">
            <img src="https://cutt.ly/yMXKZsQ" alt="" />
          </div>
          <div class="title-welcome">[회원가입]</div>
        </div>
        <form action="/add" method="post">
          <div class="signup-content">
            <div class="content-section">
              <div class="content-title">아이디</div>
              <div class="content-input">
                <input type="text" name="userid" />
              </div>
            </div>
            <div class="content-section">
              <div class="content-title">비밀번호</div>
              <div class="content-input">
                <input type="text" name="password" />
              </div>
            </div>
            <div class="content-section">
              <div class="content-title">비밀번호 확인</div>
              <div class="content-input"><input type="text" /></div>
            </div>
            <div class="content-section">
              <div class="content-title">닉네임</div>
              <div class="content-input">
                <input type="text" name="nickname" />
              </div>
            </div>
            <div class="content-section">
              <div class="content-title">이메일</div>
              <div class="content-input">
                <input type="text" name="email" />
              </div>
            </div>
          </div>
          <div class="signup-btn">
            <div class="left-btn"><button>이전으로</button></div>
            <div class="right-btn"><button type="submit">가입하기</button></div>
          </div>
        </form>
      </div>
    </div>
    <script src=""></script>
  </body>
</html>
